extends ../layout

block content
  h1 Login

  if error
    p(style="color: red;")= error

  form(action="/login", method="POST")
    div
      label(for="email") Email
      input(type="email", name="email", required)

    div
      label(for="password") Password
      input(type="password", name="password", required)

    div
      button(type="submit") Login

  p
    | Don't have an account? 
    a(href="/register") Register
